@{
    ViewData["Title"] = "GoldPlay";
}

<!-- Start -->
<section class="bg-home d-flex align-items-center seo-home">
    <div class="container">
        <div class="row mt-5 justify-content-center">

            <div class="col-lg-12 text-center mt-0 mt-md-5 pt-0 pt-md-5">
                <div class="heading-title margin-top-100">
                    <h1 class="heading fw-semibold text-white title-dark mb-3">زندگی خود را طلایی کنید</h1>
                    <p class="para-desc mx-auto text-white-50">
                        کیف پول, حساب بانکی, خرجی های روزمره
                        </br>
                        همه و همه با اندوخته طلا ارزشمند خواهند شد
                    </p>
                    <div class="subcribe-form mt-4 pt-2">
                        <form>
                            <div class="mb-3">
                                <input class="bg-white rounded-lg border opacity-7" id="url" placeholder="جستجو میان سوالات متداول" required="" type="url">
                                <button class="btn btn-pills btn-primary" type="submit">از من بپرس</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-9 col-md-10">
                        <div class="home-dashboard">
                            <div class="heading-title text-center mt-100">
                                <h4 class="heading fw-semibold title-dark ">
                                    بی نیاز از هر گونه تخصص , محاسبه و سنجش بازار
                                    </br>
                                    کار را برای شما ساده کرده ایم
                                </h4>
                            </div>
                            <img alt="" class="img-fluid" src="images/seo.png" style="top: 0;">
                        </div>
                    </div>
                </div>
            </div>



        </div><!--end col-->
    </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->

<div class="position-relative">
    <div class="shape seo-hero overflow-hidden text-light"></div>
</div>
<!-- End -->
<!-- Partners start -->
<section class="section mt-4" style="background: url('images/bg-shape.png') no-repeat right;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-2 col-6 text-center">
                <img alt="" class="img-fluid" src="images/client/logo-1.svg" />
            </div><!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center">
                <img alt="" class="img-fluid" src="images/client/logo-2.svg" />
            </div><!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center">
                <img alt="" class="img-fluid" src="images/client/logo-3.svg" />
            </div><!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center">
                <img alt="" class="img-fluid" src="images/client/logo-4.svg" />
            </div><!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center">
                <img alt="" class="img-fluid" src="images/client/logo-5.svg" />
            </div><!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center">
                <img alt="" class="img-fluid" src="images/client/logo-6.svg" />
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mt-2 mb-4">چرا باید اندوخته های کوچک و بزرگ خود را به طلا تبدیل کنیم</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">از میان دلایل بسیار، چند مورد را برای شما برشمرده ایم</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card p-4 rounded features features-classic feature-primary">
                    <div class="fea-icon rounded bg-light shadow icon">
                        <i class="uil uil-airplay mb-0 text-primary"></i>
                    </div>
                    <div class="content mt-4">
                        <a class="title h5 text-dark" href="page-single-service.html">طلا سرمایه ای برای همه اعصار</a>

                        <p class="text-muted mt-3">گفته می شود که آهنگسازان گذشته هنگام نوشتن برای خواندن ملودی از متن های ساختگی به عنوان شعر استفاده می کردند.</p>
                    </div>

                    <a href="page-single-service.html">
                        <span class="text-dark">ادامه مطلب <i class="uil uil-arrow-left"></i></span>
                    </a>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card p-4 rounded features features-classic feature-primary">
                    <div class="fea-icon rounded bg-light shadow icon">
                        <i class="uil uil-atom mb-0 text-primary"></i>
                    </div>

                    <div class="content mt-4">
                        <a class="title h5 text-dark" href="page-single-service.html">طلا سریع تر از همه ارز ها</a>

                        <p class="text-muted mt-3">گفته می شود که آهنگسازان گذشته هنگام نوشتن برای خواندن ملودی از متن های ساختگی به عنوان شعر استفاده می کردند.</p>
                    </div>

                    <a href="page-single-service.html">
                        <span class="text-dark">ادامه مطلب <i class="uil uil-arrow-left"></i></span>
                    </a>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card p-4 rounded features features-classic feature-primary">
                    <div class="fea-icon rounded bg-light shadow icon">
                        <i class="uil uil-users-alt mb-0 text-primary"></i>
                    </div>

                    <div class="content mt-4">
                        <a class="title h5 text-dark" href="page-single-service.html">نقد شوندگی سریع</a>

                        <p class="text-muted mt-3">گفته می شود که آهنگسازان گذشته هنگام نوشتن برای خواندن ملودی از متن های ساختگی به عنوان شعر استفاده می کردند.</p>
                    </div>

                    <a href="page-single-service.html">
                        <span class="text-dark">ادامه مطلب <i class="uil uil-arrow-left"></i></span>
                    </a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <img alt="" class="img-fluid" src="images/svg/coworking.svg" />
            </div><!--end col-->

            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h2 class="title mt-2 mb-4">چرا با localand ؟</h2>
                    <p class="text-muted">با localand تو میتونی پولاتو به هر مقداری ، حتی فقط 5هزار تومن به طلا تبدیل کنی
                        <br/>با localand هیچ کارمزدی پرداخت نمیکنی
                        <br/>با localand اطمینان داری همیشه با قیمت معتبر و لحظه ای سروکار داری
                        <br/>با localand دیگه هیچ خطر یا ریسکی برای نگهداری سرمایه تو قالب طلا نداری
                    </p>
                    <ul class="list-unstyled text-muted">
                        <li class="mt-2"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span> بدون معطلی و در لحظه</li>
                        <li class="mt-2"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span> کارمزد صفر و حذف هزینه های اضافی</li>
                        <li class="mt-2"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>قیمت لحظه‌ای ، دقیق و معتبر</li>
                        <li class="mt-2"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>حذف دردسر ها و مخاطرات نگهداری طلا</li>
                    </ul>
                    <a class="btn btn-primary" href="page-aboutus.html"> درباره ما </a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Partners End -->
<!-- Start -->
<section class="section">
    <div class="bg-overlay bg-gradient-primary"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <h4 class="title text-white title-dark mb-3">فقط 30 ثانیه</h4>
                    <p class="para-desc mx-auto text-white-50">همین الآن مبلغی رو به طلا تبدیل کنید و از سادگی فرایند لذت ببرید</p>

                    <div class="subcribe-form mt-4 pt-2">
                        <form>
                            <div class="mb-3">
                                <input class="bg-white rounded-lg opacity-7" id="email" placeholder="شماره موبایل خود را تایپ کنید" required="" type="email" />
                                <button class="btn btn-pills btn-primary" type="submit">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">نظر مشتریان</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">کاوش کنید و درباره همه چیز، از یادگیری ماشینی و پرداخت‌های جهانی گرفته تا مقیاس‌بندی تیم خود، اطلاعات بیشتری کسب کنید.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-12">
                <div class="tiny-three-item">
                    <div class="tiny-slide">
                        <div class="card border-0 text-center">
                            <div class="card-body">
                                <img alt="" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" src="images/client/01.jpg" />
                                <p class="text-muted mt-4">"به نظر می رسد که تنها قطعاتی از متن اصلی در متون لورم ایپسوم که امروزه استفاده می شود باقی مانده است."</p>
                                <h6 class="text-primary">- توماس اسرائیل</h6>
                            </div>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="card border-0 text-center">
                            <div class="card-body">
                                <img alt="" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" src="images/client/02.jpg" />
                                <p class="text-muted mt-4">معروف ترین متن ساختگی «لورم ایپسوم» است که گفته می شود در قرن شانزدهم سرچشمه گرفته است.</p>
                                <h6 class="text-primary">- کارل الیور</h6>
                            </div>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="card border-0 text-center">
                            <div class="card-body">
                                <img alt="" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" src="images/client/03.jpg" />
                                <p class="text-muted mt-4">"یکی از معایب لورم ایپسوم این است که در لاتین حروف خاصی بیشتر از دیگران ظاهر می شوند."</p>
                                <h6 class="text-primary">- باربارا مک اینتاش</h6>
                            </div>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="card border-0 text-center">
                            <div class="card-body">
                                <img alt="" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" src="images/client/04.jpg" />
                                <p class="text-muted mt-4">بنابراین، لورم ایپسوم تنها مناسبت محدودی به عنوان پرکننده بصری برای متون آلمانی دارد.</p>
                                <h6 class="text-primary">- جیل وب</h6>
                            </div>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="card border-0 text-center">
                            <div class="card-body">
                                <img alt="" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" src="images/client/05.jpg" />
                                <p class="text-muted mt-4">"اکنون متون ساختگی قابل خواندن فراوانی وجود دارد. اینها معمولاً در مواقعی که متن مورد نیاز است استفاده می شود."</p>
                                <h6 class="text-primary">- دین تول</h6>
                            </div>
                        </div>
                    </div>

                    <div class="tiny-slide">
                        <div class="card border-0 text-center">
                            <div class="card-body">
                                <img alt="" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" src="images/client/06.jpg" />
                                <p class="text-muted mt-4">طبق اکثر منابع، لوروم ایپسوم را می توان به متنی که توسط سیسرو ساخته شده است، ردیابی کرد.</p>
                                <h6 class="text-primary">- کریستا اسمیت</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title mb-4 pb-2 text-center">
                    <h4 class="title mb-3">سوالات متداول</h4>
                    <p class="text-muted mx-auto para-desc mb-0">پروژه های طراحی ما تازه و ساده هستند و سود زیادی برای کسب و کار شما خواهند داشت. درباره کار ما بیشتر بدانید!</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row align-items-center">
            <div class="col-md-6 mt-4 pt-2">
                <img alt="" class="img-fluid" src="images/faqs.png" />
            </div><!--end col-->

            <div class="col-md-6 mt-4 pt-2">
                <div class="accordion" id="buyingquestion">
                    <div class="accordion-item rounded border-0 shadow">
                        <h2 class="accordion-header" id="headingOne">
                            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button border-0 bg-white" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button"> چگونه کار می کند؟ </button>
                        </h2>
                        <div aria-labelledby="headingOne" class="accordion-collapse border-0 collapse show" data-bs-parent="#buyingquestion" id="collapseOne">
                            <div class="accordion-body text-muted bg-white"> انواع مختلفی از معابر لورم ایپسوم موجود است، اما اکثر آنها به نوعی دچار تغییر شده اند. </div>
                        </div>
                    </div>

                    <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingTwo">
                            <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button border-0 bg-white collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button"> آیا برای استفاده از استارتی به طراح نیاز دارم؟ </button>
                        </h2>
                        <div aria-labelledby="headingTwo" class="accordion-collapse border-0 collapse" data-bs-parent="#buyingquestion" id="collapseTwo">
                            <div class="accordion-body text-muted bg-white"> انواع مختلفی از معابر لورم ایپسوم موجود است، اما اکثر آنها به نوعی دچار تغییر شده اند. </div>
                        </div>
                    </div>

                    <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingThree">
                            <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button border-0 bg-white collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button"> برای شروع فروش باید چه کار کنم؟ </button>
                        </h2>
                        <div aria-labelledby="headingThree" class="accordion-collapse border-0 collapse" data-bs-parent="#buyingquestion" id="collapseThree">
                            <div class="accordion-body text-muted bg-white"> انواع مختلفی از معابر لورم ایپسوم موجود است، اما اکثر آنها به نوعی دچار تغییر شده اند. </div>
                        </div>
                    </div>

                    <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingfive">
                            <button aria-controls="collapsefive" aria-expanded="false" class="accordion-button border-0 bg-white collapsed" data-bs-target="#collapsefive" data-bs-toggle="collapse" type="button"> آیا CMR برای انتقال راهنمایی ارائه می دهد؟ </button>
                        </h2>
                        <div aria-labelledby="headingfive" class="accordion-collapse border-0 collapse" data-bs-parent="#buyingquestion" id="collapsefive">
                            <div class="accordion-body text-muted bg-white"> انواع مختلفی از معابر لورم ایپسوم موجود است، اما اکثر آنها به نوعی دچار تغییر شده اند. </div>
                        </div>
                    </div>

                    <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingsix">
                            <button aria-controls="collapsesix" aria-expanded="false" class="accordion-button border-0 bg-white collapsed" data-bs-target="#collapsesix" data-bs-toggle="collapse" type="button"> مدیریت در CMR چگونه درک می شود؟ </button>
                        </h2>
                        <div aria-labelledby="headingsix" class="accordion-collapse border-0 collapse" data-bs-parent="#buyingquestion" id="collapsesix">
                            <div class="accordion-body text-muted bg-white"> انواع مختلفی از معابر لورم ایپسوم موجود است، اما اکثر آنها به نوعی دچار تغییر شده اند. </div>
                        </div>
                    </div>

                    <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingseven">
                            <button aria-controls="collapseseven" aria-expanded="false" class="accordion-button border-0 bg-white collapsed" data-bs-target="#collapseseven" data-bs-toggle="collapse" type="button"> تعادل کار و زندگی در CMR چگونه است؟ </button>
                        </h2>
                        <div aria-labelledby="headingseven" class="accordion-collapse border-0 collapse" data-bs-parent="#buyingquestion" id="collapseseven">
                            <div class="accordion-body text-muted bg-white"> انواع مختلفی از معابر لورم ایپسوم موجود است، اما اکثر آنها به نوعی دچار تغییر شده اند. </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>
<!-- End -->



