@using Gold.Core.DTO.Finance
@model UserGoldToCashDTO
@{
    ViewData["Title"] = "Sell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-half-80 d-table bg-primary bg-gradient w-100">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <small class="text-white-50 mb-1 fw-medium text-uppercase mx-auto">طلا باز</small>
                    <h5 class="heading fw-semibold mb-0 page-heading text-white title-dark">فروش طلا</h5>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="position-middle-bottom">
            <nav aria-label="breadcrumb" class="d-block">
                <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                    <li class="breadcrumb-item"><a href="index.html"> طلا باز </a></li>
                    <li class="breadcrumb-item"><a href="index-fashion.html">پنل کاربری</a></li>
                    <li aria-current="page" class="breadcrumb-item active">فروش طلا </li>
                </ul>
            </nav>
        </div>
    </div><!--end container-->
</section>

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-lg-5 margin-5">
                <div class="card rounded shadow p-4 border-0 margin-10">
                    <h4 class="mb-3">فروش </h4>

                </div>
                <form method="post" asp-controller="Gold" asp-action="Sell">
                    <div class=" row g-3">
                        <div class="col-sm-12 margin-5">
                            <label class="form-label" for="GoldAmount">مقدار طلا بر حسب گرم تا 4 رقم اعشار</label>
                            <input asp-for="GoldAmount" class="form-control" placeholder="مثال: 1.4250" type="number">
                            <span asp-validation-for="GoldAmount" class="text-danger"></span>
                        </div>
                        <button class="w-100 btn btn-primary" type="submit">ثبت</button>

                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
@section Scripts{
    <script src="/js/validation/jquery.validate.min.js"></script>
    <script src="/js/validation/jquery.validate.unobtrusive.min.js"></script>
}






